/* Global styles */

* {
    margin: 0;
    font-family: "Merriweather", serif;
}

/* Header */

header,
main {
    max-width: 1320px;
    margin: 0 auto;
}

.new-year-container {
    margin: 50px 0 120px 0;
}

.new-year {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(images/Banner\ Image.png);
    border-radius: 16px;
    border-radius: 16px;
    height: 600px;
    text-align: center;

}

.new-year h4 {
    padding-top: 177px;
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
}

.new-year h1 {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
}

/* Offer section */

.offer-container {
    text-align: center;
    margin-bottom: 120px;
}

.offer h1 {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    padding-bottom: 48px;
}

.offer h5 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 16px;
}

.offer h3 {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 48px;
}

/* Midnight party section */
.midnight-container {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(images/Vectorrr.png);
    height: 600px;
    border-radius: 16px;
}

.midnight {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 64px 124px;
}

.midnight h2 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    padding-bottom: 24px;
}

.midnight p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    padding-bottom: 48px;
}

.midnight button {
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.midnight img {
    height: 464px;
}


/* Gift section */
.gift-container {
    margin: 120px 0;
}

.gift h5 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 16px;
}

.gift h3 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding-bottom: 20px;
}

.gift p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    margin-bottom: 48px;
}

/* Newsletter */
.newsletter-container {
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    height: 616px;
    margin-bottom: 120px;
}

.newsletter img {
    height: 150px;
    width: 150px;
    margin-top: 80px;
}

.newsletter h3 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.newsletter p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    margin-bottom: 48px;
}

.newsletter-email {
    background: #FFF;
    padding: 25px 30px;
    border: none;
    border-radius: 50px 0 0 50px;
    font-family: Inter;
    font-size: 20px;
    width: 400px;
}

.newsletter-submit {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding: 25px 30px;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}


/* Footer */

footer {
    background: #070211;
}

.about-contact-container {
    padding: 120px 140px 0 140px;
}

.about-contact {
    display: flex;
    color: #FFF;
    justify-content: space-between;
}

.about {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
}

.contact ul li {
    list-style: none;
    display: flex;
    gap: 16px;
    color: #FFF;

}

.contact ul li p {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
}

.contact ul li a {
    font-family: Inter;
    text-decoration: none;
    color: #FFF;
}

.contact ul li img {
    height: 24px;
    width: 24px;
    margin: auto 0;
}

.hr-lines {
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin: 48px 0;
}


/* Social link section */
.social-link-container {
    text-align: center;
    padding: 0 140px;
}

.social-link img {
    gap: 24px;
    padding-right: 24px;
}

/* Unsubscribe section */
.unsubscribe-container {
    padding: 0 140px 120px 140px;
    color: #FFF;
}

.unsubscribe{
    display: flex;
    justify-content: space-between;
}

.unsubscribe p, button {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.unsubscribe button{
    border: none;
    background: none;
    color: #FFF;
}